.home {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* background-color: lightblue; */
    justify-content: center;
    /* align-items: center; */
}

/* .sideNav {
    width: 300px;
    background-color: aqua;
} */

/* .main {
    display: flex;
    align-items: center;
    jus
    background-color: lightblue;
    width: 100%;
} */