<main>
    <div class="author p-2 d-flex align-items-center">
        <img class="rounded-circle me-3" [src]="userPofilePic" alt="">
        <p class="mt-3"> {{userName}} </p>
    </div>
    <h1 style="text-align: center;" *ngIf="comments.length===0">No comments</h1>
    <div class="comments mt-4" *ngFor="let item of comments">
        <div class="profile d-flex align-items-center ms-3">
            <div class="profileImg me-3">
                <img class="rounded-circle" [src]="item.author.profilePic" alt="profile">
            </div>
            <div class="commentText"><span
                    style="font-weight: 500;color: black;">{{item.author.username}}</span>.&nbsp;&nbsp;{{item.text}}
            </div>
        </div>
    </div>
</main>