<main class="mt-5">
    <div class="profile">
        <div class="profileImg">
            <img class="rounded-circle" (click)="viewingProfile()" [src]="profileImg" alt="">
        </div>
        <div class="userDetails">
            <div class="user-values d-flex align-items-start justify-content-between mb-2">
                <p class="me-5" style="font-weight: 500;"> {{fullName}} </p>
                <button *ngIf="followBtn" [ngClass]="{'class1': followBtnClass, 'class2':!followBtnClass}"
                    (click)="followAndUnFollow()">{{ buttonType === 'follow' ? 'Follow' : 'Following' }} </button>
                <button>Message</button>
            </div>
            <div class="user-status d-flex align-items-start justify-content-between">
                <p>post</p>
                <a (click)="follow('followers')"><span style="font-weight: bold;">{{followers}}</span> followers</a>
                <a (click)="follow('following')"><span style="font-weight: bold;"> {{following}} </span> following</a>
            </div>
            <div style="line-height: 3px;" class="user-bio d-flex flex-column align-items-start justify-content-center">
                <p>{{userName}}</p>
                <p> {{userBio}} </p>
            </div>
        </div>
    </div>
    <!-- <app-user-post></app-user-post> -->
    <div class="userThings">
        <a>
            <span class="posts"></span>
            POST
        </a>
        <button class="mx-5">
            <span class="saved"></span>
            SAVED
        </button>
    </div>
    <app-all-posts [userIds]="userId"></app-all-posts>
    <!-- <router-outlet name="userPosts"></router-outlet> -->
</main>
<app-footer class="container"></app-footer>
