main {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 500px;
}

.profile {
    margin-bottom: 220px;
}

.profileImg {
    /* overflow: hidden; */
    margin-right: 60px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.profileImg img {
    width: 100%;
}

.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.userDetails button {
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
}

.userDetails button:hover {
    background-color: rgb(200, 200, 200);
}

.user-values,
.user-status,
.user-bio {
    width: 280px;
}

.userThings {
    font-size: 15px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-top: thin solid grey;
}

.userThings button {
    text-align: center;
    border: none;
    background-color: white;
    color: rgb(201, 201, 201);
}

.posts,
.saved,
.tagged {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-size: cover;

}

.posts {
    background-image: url('../../../../../assets/profile/all-posts.png');
}

.saved {
    background-image: url('../../../../../assets/profile/saved.png');
}

.tagged {
    background-image: url('../../../../../assets/profile/tagged.png');
}