<main class="mt-5">
    <div class="my-3">
        <h4>Edit profile</h4>
    </div>
    <div class="profileImg">
        <div class="image d-flex align-items-center ">
            <div class="img me-4">
                <img class="rounded-circle" src="../../../../../assets/auth/124010.webp" alt="">
            </div>
            <div class="username" style="line-height: 2px;">
                <p>name</p>
                <p>username</p>
            </div>
        </div>
        <div class="changeBtn">
            <button class="btn btn-primary">Change photo</button>
        </div>
    </div>
    <div class="website">
        <h6 class="mt-5 mb-3">Website</h6>
        <input type="text" placeholder="Website">
    </div>
</main>