<main>
    <div class="story-top d-flex">
        <div class="stories d-flex flex-column align-items-center justify-content-center me-3">
            <img src="../../../../assets/photo-1633886897663-44c707d71904.jpg" width="60px" alt="story-img" class="rounded-circle">
            <p>userName</p>
        </div>
        <div class="stories d-flex flex-column align-items-center justify-content-center">
            <img src="../../../../assets/photo-1633886897663-44c707d71904.jpg" width="60px" alt="story-img" class="rounded-circle">
            <p>userName</p>
        </div>
        <div class="stories d-flex flex-column align-items-center justify-content-center">
            <img src="../../../../assets/photo-1633886897663-44c707d71904.jpg" width="60px" alt="story-img" class="rounded-circle">
            <p>userName</p>
        </div>
    </div>
</main>