.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    /* min-height: 200px; */
}

h1 {
    color: lightgray;
}

.item {
    /* background-color: #ddd; */
    text-align: center;
    width: 230px;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
}

.item img {
    width: 100%;
}