.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    /* min-height: 200px; */
    /* background-color: lightblue; */
    
}

h1 {
    /* margin-left: 400px; */
    color: lightgray;
    /* background-color: lightblue; */
}

.item {
    text-align: center;
    min-height: 200px;
    max-width: 250px;
    object-fit: cover;
    overflow: hidden;
    background-color: lightblue;
}

.item img {
    max-width: 100%;
    min-height: 100%;
}