
.main {
    padding: 30px;
    margin-top: -70px;
    margin-right: 160px;
    border: 1px solid rgb(212, 212, 212);
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;

}

.left {
    background-color: rgb(212, 212, 212);
    height: 2px;
    width: 110px;
}

.form input {
    width: 260px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
    font-weight: 400;
}