<main style="padding: 120px;" class=" container d-flex flex-row justify-content-between">
    <section class="container" style="margin-left: 140px;">
        <div>
            <h1>picture</h1>
        </div>
    </section>
    <section class="container">
        <div class="main">
            <div class="main-heading mt-4">
                <img style="width: 100%;" src="../../../assets/8n91YnfPq0s (1).png" alt="">
            </div>
            <div class="main-content mx-1" style="text-align: center; width: 240px; font-size: 15px; font-weight: 500;">
                <p>
                    Sign up to see photos and videos from your friends.
                </p>
            </div>
            <div class="fb-btn">
                <button style="width: 260px;" class="btn btn-primary p-1">Log in with Facebook</button>
            </div>
            <div class="or d-flex my-4 align-items-center">
                <div class="left"></div>
                <small>&nbsp;&nbsp;OR&nbsp;&nbsp;</small>
                <div class="left"></div>
            </div>
            <div class="form" style="height: 200px; text-align: center;">
                <form class="d-flex flex-column justify-content-between" action="" style="height: 170px;">
                    <input type="text" placeholder="Mobile Number or Email">
                    <input type="text" placeholder="Full Name">
                    <input type="text" placeholder="Username">
                    <input type="text" placeholder="Password">
                </form>
            </div>
            <div class="license" style="text-align: center; width: 251px; margin-top: -15px;">
                <div class="learn-more">
                    <p style="font-size: 12px; line-height: 19px; font-weight: 400;">People who use our service may have
                        uploaded your
                        contact information to Instagram. <a href="">Learn <br> More</a></p>
                </div>
            </div>
            <div class="license " style="text-align: center;">
                <div class="learn-more">
                    <p style="font-size: 12px; line-height: 19px; font-weight: 400;">By signing up, you agree to our
                        Terms , <a href="">Privacy Policy</a> and <a href="">Cookies Policy</a></p>
                </div>
            </div>
            <div class="fb-btn mt-1 mb-5">
                <button style="width: 260px;" class="btn btn-primary p-1">Sign Up</button>
            </div>
        </div>
    </section>
</main>