<main>
    <div class="container">
        <h1>Change Password</h1>
        <form action="" #resetPasswordFrom="ngForm">
            <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="prevPassword" ngModel required >
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" ngModel required>
                <span class="password-info" *ngIf="resetPasswordFrom.value.newPassword === resetPasswordFrom.value.prevPassword">
                    New password must be different from your old password 
                    </span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="password" ngModel required>
                <span class="password-info" *ngIf="resetPasswordFrom.value.newPassword !== resetPasswordFrom.value.password">
                New password and confirm password must be same
                </span>
            </div>
            <div class="button-container">
                <button (click)="resetPassword()">Change Password</button>
            </div>
        </form>
    </div>
</main>