.top {
    display: flex;
    /* margin-left: -100px; */
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main {
    /* width: 600px; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.postLikes {
    font-weight: 500;
}

.viewComment {
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.postMain {
    background-color: #ffffff;
    /* Background color */
    border-radius: 10px;
    padding: 4px;
    /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.postCaption {
    font-weight: 600;
}

.userDetails {
    width: 94px;
}

.profileImg {
    border-radius: 50%;
    overflow: hidden;
}

.profileImg img {
    width: 100%;
}

.post {
    /* height: 600px; */
    /* width: 596px; */
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.post img {
    width: 100%;
}

.addComment input {
    border: none;
    flex: 1;
    /* width: 600px; */
    padding: 5px 9px;
    font-weight: 300;
}

.addComment input:focus {
    outline: none;
    /* background-color: white; */
}

.addComment {
    box-shadow: 0px 8px 8px -5px rgba(196, 196, 196, 0.75);
    /* Box shadow properties */
    display: flex;
}


.addComment button {
    color: #007bff;
    font-weight: 500;
}

.like-icon {
    background-image: url('../../../../assets/post/like.png');
}

.comment-icon,
.share-icon,
.like-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.liked {
    background-image: url('../../../../assets/post/liked.png');
}

.comment-icon {
    background-image: url('../../../../assets/post/chatmment.png');
}

.share-icon {
    background-image: url('../../../../assets/post/share.png');
}

button {
    border: none;
    background-color: white;
}