<main [@fadeInOut]>
    <div class="container">
        <div class="notification" *ngFor="let item of allusers">
            <img [src]="item.profilePic" alt="Profile Picture">
            <div class="notification-content">
                <p role="button" (click)="viewProfile(item._id)"><strong>{{item.username}}</strong> Who you might know is on social media</p>
                <p>2h ago</p>
            </div>
            <div class="buttons d-flex">
                    <p class="me-2 text-primary" *ngIf="!item.followers.includes(userId)">follow<p>
                    <p class="me-2" *ngIf="item.followers.includes(userId)">following<p>
                <button (click)="gotToMessage()">Message</button>
            </div>
        </div>
        <!-- Add more notifications as needed -->
    </div>
</main>