<main class="mt-5">
    <div class="profile" *ngFor="let item of userDetails">
        <div class="profileImg">
            <img class="rounded-circle" (click)="viewingProfile()" src="{{item.profilePic}}" alt="">
        </div>
        <div class="userDetails">
            <div class="user-values d-flex align-items-start ">
                <p class="me-5"><span style="font-weight: bold;">{{item.fullname}}</span></p>
                <button (click)="editProfile()">Edit Profile</button>
            </div>
            <div class="user-status d-flex align-items-start justify-content-between">
                <p><span style="font-weight: bold;">{{userPosts.length}}</span> post</p>
                <a (click)="follow('followers')"><span style="font-weight: bold;">{{item.followers.length}}</span> followers</a>
                <a (click)="follow('following')"><span style="font-weight: bold;"> {{item.following.length}} </span> following</a>
            </div>
            <div style="line-height: 3px;" class="user-bio d-flex flex-column align-items-start justify-content-center">
                <p>{{item.username}}</p>
                <p>{{item.bio}}</p>
            </div>
        </div>
    </div>
    
    <div class="userThings">
        <button outlet="userPosts" (click)="posts()">
            <span class="posts"></span>
            POST
        </button>
        <button class="mx-4" (click)="saved()">
            <span class="saved"></span>
            SAVED
        </button>
        <!-- <button>
            <span class="tagged"></span>
            TAGGED
        </button> -->
    </div>
    <app-all-posts *ngIf="postTemplate" [userIds]="userId"></app-all-posts>
    <app-all-saved *ngIf="savedTemplate"></app-all-saved>
</main>
<app-footer class="container"></app-footer>
