.topMain {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main {
    border-radius: 50%;
}

.heading {
    border-bottom: thin solid rgb(208, 208, 208);
}

a {
    text-decoration: none;
}

img {
    width: 180px;
    height: 180px;
}

/* Style the button to look like a button */
.file-upload-button {
    /* background-color: #E1306C; */
    /* color: #fff; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Hide the default file input */
#file-input {
    display: none;
}

.postImg {
    position: relative;
    padding: 1px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.postImg button {
    background-color: white;
    border: none;
    color: blue;
}

.nextBtn {
    position: absolute;
    top: 1px;
    right: 10px;
}

.postCaption {
    padding: 50px;
}

.postCaption input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}