main {
    width: 1300px;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent !important;
}

.postImg {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
}

.postImg img {
    width: 100%;
}

.comment {
    flex: 1;
    /* background-color: lightcoral; */
    height: 100%;
}