<main>
    <div class="head mt-1">
        <h6 *ngIf="followerHeading">Followers</h6>
        <h6 *ngIf="followingHeading">Following</h6>
    </div>
    <!-- <input class="mt-2" type="text" [(ngModel)]="searchValue" placeholder="Search" (input)="searchOperation()"> -->
    <div class="top pe-2 mt-4">
        <h1 *ngIf="followerList.length === 0">No followings</h1>
        <div class="list mt-2" *ngFor="let item of followerList">
            <div class="first">
                <div class="profilePic me-2"><img [src]="item.profilePic" alt="profile">
                </div>
                <div class="userDetials d-flex flex-column">
                    <p role="button" (click)="viewProfile(item._id)">{{item.fullname}}</p>
                    <p style="color: grey; font-size: 13px;">{{item.username}}</p>
                </div>
            </div>
            <div class="second" *ngIf="userButtons">
                <button *ngIf="followerHeading" (click)="removeFollower('removefollower',item._id)">Remove</button>
                <button *ngIf="followingHeading" (click)="removeFollower('removefollowing',item._id)">Following</button>
            </div>

            <div class="second" *ngIf="!userButtons">
                <!-- <button *ngIf="item._id !== userId && !item.followers.includes(userId)">Follow</button>
                <button *ngIf="item._id !== userId && item.followers.includes(userId)">Following</button> -->
                <button *ngIf="followBtn && item._id !== userId"
                    [ngClass]="{'class1': followBtnClass, 'class2':!followBtnClass}" (click)="followAndUnFollow(item._id)">{{
                    buttonType === 'follow' ? 'Follow' : 'Following' && !item.followers.includes(userId)?'Follow':'Following'}}
                </button>
            </div>
        </div>
    </div>
</main>