<div class="get-app">
    <p>Get the app</p>
    <div class="main d-flex align-items-center justify-content-between">
        <div class="img">
            <a href="">
                <img class="w-100" src="../../../assets/auth/5a902dbf7f96951c82922875.webp" alt="">
            </a>
        </div>
        <div class="img">
            <a href="">
                <img style="width: 75%;" src="../../../assets/auth/Get_it_from_Microsoft_Badge.svg" alt="">
            </a>
        </div>
    </div>
</div>  